language: python
cache: bundler
python:
  - "3.6"
install:
  # Install the latest release of Vale:
  - wget https://github.com/errata-ai/vale/releases/download/v3.13.0/vale_3.13.0_Linux_64-bit.tar.gz
  - mkdir bin && tar -xvzf vale_3.13.0_Linux_64-bit -C bin
  - export PATH=./bin:"$PATH"

  - bundle install --jobs=3

  - pip install yamllint
  - pip install markdata
  - pip install pyyaml
  - pip install docutils
before_script:
  - yamllint -c '.yamllint.yml' apple
script:
  - cucumber
  - zip -r .zip apple -x "*.DS_Store"
deploy:
  provider: releases
  api_key: $GITHUB_TOKEN
  file: apple.zip
  skip_cleanup: true
  on:
    tags: true
